.DS_Store

# Root / monorepo caches
.idea/
.vscode/
*.tsbuildinfo

# Node
**/node_modules/
**/dist/
**/coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Flutter / Dart local state
**/.dart_tool/
**/.dartServer/
**/.gradle/
**/.flutter-sdk/
**/.flutter
**/.flutter/
**/.android/
**/.kotlin/
**/.config/
**/.pub/
**/.pub-cache/
**/Library/
**/build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
**/*.apk

# Local env
**/.env
**/*.local
